* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Lora", serif;
}

/* -----------------HEADER START--------------- */
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 80%;
}
.header {
  height: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.header__rigth-block {
  width: 300px;
  text-align: center;
}
.header__rigth-block--photo {
  border-radius: 50%;
}

.header__left-block {
  width: 300px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__left-block--title {
  font-size: 36px;
  margin-bottom: 10px;
}
.header__left-block--title span {
  color: darkred;
}
